repositories:
  - name: prometheus-community
    url: https://prometheus-community.github.io/helm-charts

---

releases:
  - name: kube-prometheus-stack
    namespace: monitoring
    chart: prometheus-community/kube-prometheus-stack
    version: "80.2.0"
    createNamespace: true
    values:
      - grafana:
          adminPassword: "admin"
          service:
            type: LoadBalancer
            port: 80
            targetPort: 3000
          grafana.ini:
            live:
              enabled: true
              allowed_origins: "*"
              max_connections: 0
      - prometheusOperator:
          admissionWebhooks:
            enabled: false
          tls:
            enabled: false
      - prometheus:
          prometheusSpec:
            scrapeInterval: "15s"
            evaluationInterval: "15s"
            enableFeatures:
              - remote-write-receiver
            serviceMonitorSelectorNilUsesHelmValues: false
            serviceMonitorSelector: {}
            serviceMonitorNamespaceSelector: {}
            additionalScrapeConfigs:
              - job_name: 'prometheus'
                static_configs:
                  - targets: ['localhost:9090']
              - job_name: 'kubernetes-pods'
                kubernetes_sd_configs:
                  - role: pod
                relabel_configs:
                  - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_scrape]
                    action: keep
                    regex: true
                  - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_path]
                    action: replace
                    target_label: __metrics_path__
                    regex: (.+)
                  - source_labels: [__address__, __meta_kubernetes_pod_annotation_prometheus_io_port]
                    action: replace
                    regex: ([^:]+)(?::\d+)?;(\d+)
                    replacement: $1:$2
                    target_label: __address__
                  - source_labels: [__meta_kubernetes_namespace]
                    action: replace
                    target_label: namespace
                  - source_labels: [__meta_kubernetes_pod_label_app]
                    action: replace
                    target_label: job